$photo_sec_width: 30%;
.category-add-page {
    .basic {
        display: flex;
        flex-wrap: wrap;
        .photo {
            width: $photo_sec_width;
            text-align: right;
            padding-right: 1rem;
            .wrap {
                width: 8rem;
                display: inline-block;
                border: 1px solid #eee;
                img {
                    display: block;
                    width: 100%;
                }
            }
        }
        .info {
            width: 100% - $photo_sec_width;
            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            .field {
                margin-bottom: 1.2rem;
                width: 100%;
            }
            .description {
                input {
                    width: 25rem;
                }
            }
        }
    }
    .field-config {
        .content {
            width: 60rem;
            margin: 0 auto;
            padding-left: 0;
            display: flex;
            flex-wrap: wrap;
            li {
                display: flex;
                flex-wrap: wrap;
                .index {
                    width: 3rem;
                    text-align: right;
                }
                .detail {
                    .map {
                        display: inline-flex;
                        min-width: 10rem;
                    }
                }
                .field-title {
                    width: 100%;
                }
            }
        }
    }
}