.product-type {
    display: inline-block;
    text-align: center;
    padding: 1rem;
	.logo {
		display: flex;
		flex-wrap: wrap;
		width: 7rem;
		height: 7rem;
        border: 1px solid #eee;
		font-size: 1.5rem;
        img {
            display: block;
            width: 100%;
        }
        &:hover {
            cursor: pointer;
        }
	}
    .name {
        text-align: center;
        line-height: 3rem;
        margin-top: 0;
        font-weight: normal;
    }
    .select-icon {
        opacity: 0;
        position: absolute;
        font-size: 1.5rem;
        top: -0.6rem;
        right: -0.8rem;
        transition: opacity 0.3s;
        i {
            position: relative;
            height: 100%;
            &:before {
                position: absolute;
                top: -7rem;
                right: 0;
            }
        }
    }
    &.selected {
        .logo {
            border-color: red;
        }
    }
}