<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>
		<%= htmlWebpackPlugin.options.title %>
	</title>
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		window.server = "<%= htmlWebpackPlugin.options.server %>";
		$.get({
			url: server + '/user/current',
			xhrFields: { withCredentials: true },
			success: function () {
				window.l_user = result;
			},
			error: function () {
				let code = JSON.parse(err.responseText).code;
				if (code === 'NOT_LOGIN') window.location = '/login.html';
			}
		})
	</script>
<link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/semantic-ui/2.2.4/semantic.min.css" rel="stylesheet">
<base href="/">
<style>
	table {
		width: 100%;
		overflow-x: auto!important;
	}
	
	th,
	td {
		text-align: center!important;
	}
	
	.btn-group {
		text-align: center!important;
	}
</style>
</head>

<body>
	<div id="app">加载中...</div>
	<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/semantic-ui/2.2.4/semantic.min.js"></script>
	<!--<script src="//cdn.bootcss.com/react/15.3.2/react.min.js"></script>-->
	<!--<script src="//cdn.bootcss.com/react/15.3.2/react-dom.min.js"></script>-->
	<!--<script src="//cdn.bootcss.com/react-router/4.0.0-alpha.5/react-router.min.js"></script>-->
	<!--<script src="//cdn.bootcss.com/redux/3.6.0/redux.min.js"></script>-->
	<!--<script src="//cdn.bootcss.com/react-redux/4.4.5/react-redux.min.js"></script>-->
	<script src="//cdn.bootcss.com/moment.js/2.15.2/moment.min.js"></script>
	<script src="//cdn.bootcss.com/lodash.js/4.17.2/lodash.min.js"></script>
	<script src="//cdn.bootcss.com/Chart.js/2.4.0/Chart.js"></script>
	<script src="//cdn.bootcss.com/accounting.js/0.4.1/accounting.min.js"></script>
</body>

</html>