$header_height: 3.5rem; // 50px
// reset
ul {
    padding: 0;
    li {
        list-style: none;
    }
}

a {
    &:hover {
        cursor: pointer;
    }
}
body {
    background: #eff3f5;
}

.hide {
    display: none;
}

table {
    td {
        a {
            display: inline-block;
            margin-right: 0.5rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.ui.form .field label {
    &:after {
        content: ':';
    }
}

.page {
    .list-header {
        display: flex;
        height: 4rem;
        align-items: center;
        .nav {
            padding-left: 1rem;
            ul {
                display: flex;
                li {
                    margin: 0 0.5rem;
                }
            }
        }
        .group {
            margin-left: auto;
            margin-right: 1rem;
            select {
                width: 8rem;
                min-width:auto;
                margin-right: 1rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}


.ui.search .prompt {
    border-radius: 0.4rem;
}