html,
body,
.wrap {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('../images/login_bg.jpg');
    background-size: cover;
    .wrap {
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        #login {
            margin-top: 10%;
            width: 450px;
            background: white;
            padding: 30px 70px 50px;
            .logo {
                width: 150px;
                height: 100px;
                margin: 0 auto;
                margin-bottom: 30px;
                background: url('../images/logo.png') no-repeat;
                background-size: 100%;
                background-position: left center;
            }
            .form {
                padding-bottom: 20px;
                .field {
                    margin-bottom: 30px;
                    input {
                        height: 40px;
                    }
                }
            }
        }
        #submit {
            height: 46px;
            border-radius: 46px;
        }
    }
}