.book-index-page {
    .header-menu {
        display: flex;
        align-items: center;
        .upload {

        }
        .category {
            margin-left: auto;
        }
        .shop {
            margin-left: 2rem;
        }
    }
}