.role-page {
    display: flex;
    aside {
        background: white;
        width: 13rem;
        padding: 1rem;
        min-height: 15rem;
        ul {
            li {
                a {
                    display: block;
                    line-height: 2.5rem;
                    text-align: center;
                    color: #333;
                }
                &.active {
                    background: #eee;
                }
            }
        }
    }

    .detail {
        margin-left: 2rem;
        background: white;
        flex-grow: 1;
    }
}