.book-select-confirm-page {
    table {
        .product {
            line-height: 6rem;
            height: 6rem;
            text-align: left!important;
            img {
                vertical-align: middle;
                display: inline-block;
                height: 4.5rem;
            }
            .name {
                display: inline-block;
                padding-left: 2rem;
            }
        }
    }
}