.category-edit-fields {
    thead {
        tr {
            th {
                &:nth-child(1) {
                    width: 8%;
                }
                &:nth-child(2) {
                    width: 20%;
                }
                &:nth-child(3) {
                    width: 20%;
                }
                &:nth-child(4) {
                    width: 20%;
                }
                &:nth-child(5) {
                    width: 15%;
                }
                &:nth-child(6) {
                    width: 15%;
                }
            }
        }
    }
}