@import '../../../style.scss';
.book-shopping {
    .header-menu {
        .upload {}
        .category {
            margin-left: auto;
        }
        .shop {
            margin-left: 2rem;
        }
    }
    ul {
        margin: 0 -1rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        li {
            width: 25%;
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            p {
                margin: 0;
            }
            .photo {
                width: 100%;
                a {
                    display: block;
                    width: 100%;
                }
                img {
                    width: 100%;
                }
            }
            .detail {
                display: flex;
                width: 100%;
                .l {
                    flex-grow: 0;
                    width: 70%;
                    .code {
                        color: #aaa;
                        font-size: 0.9rem;
                        line-height: 1.5rem;
                    }
                    .name {
                        font-weight: 500;
                        font-size: 1.3rem;
                        line-height: 1;
                    }
                    .unit-price {
                        line-height: 1.2;
                        font-size: 1.3rem;
                        color: red;
                    }
                }
                .r {
                    flex-grow: 0;
                    width: 30%;
                    text-align: right;
                    .action {
                        width: 100%;
                        height: 100%;
                        display: inline-flex;
                        align-items: flex-end;
                        justify-content: flex-end;
                        a {
                            width: 80%;
                            display: inline-block;
                            color: white;
                            font-weight: bolder;
                            padding: 0.5rem 0.7rem;
                        }
                    }
                }
            }
        }
    }
}