@import '../../../../public/style/common.scss';
#header {
    position: fixed;
    top: 0;
    left: $header_height * 4;
    padding-left: $header_height;
    right: 0;
    height: $header_height;
    background: white;
    z-index: 99;
    border-bottom: 1px solid #eee;
    box-shadow: 4px 0 4px 0 #eee;
    margin-left: 0;
    overflow: hidden;



    .user-info {
        float: right;
        p {
            line-height: $header_height;
            display: inline-block;
            margin-right: 2rem; 
        }
    }

}
