@import '../../../../public/style/common.scss';
#header {
    position: fixed;
    top: 0;
    left: $header_height * 4;
    padding-left: $header_height;
    right: 0;
    height: $header_height;
    background: white;
    z-index: 99;
    border-bottom: 1px solid #eee;
    box-shadow: 4px 0 4px 0 #eee;
    margin-left: 0;
    overflow: hidden;



    .user-info {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        p {
            display: inline-flex;
            align-items: center;
            margin: 0 3rem 0 0;
            height: 100%;
            &.user {
                .logo {
                    height: $header_height / 1.5;
                    width: $header_height / 1.5;
                    margin-right: 1rem;
                    border-radius: $header_height / 1.5;
                    background: #ccc;
                }
                .name {
                }
            }
            &.sign-out {

            }
        }
    }

}
