@import '../../../../public/style/common.scss';
.book-upload-upload {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
    padding-top: 5rem;
    .download-sec,
    .upload-sec {
        width: 50%;
        border: 1px dashed #ccc;
        text-align: center;
		transition: $transition_time;
        &:hover {
			cursor: pointer;
            background: white;
			transition: $transition_time;
        }
        .icon {
            display: block;
            width: 100%;
            font-size: 4rem;
            padding: 2rem 0 1rem;
            color: #94c4f9;
            height: auto;
        }
        .main {
            display: block;
            font-size: 1rem;
            line-height: 2.5rem;
            color: #333;
        }
    }
    .download-sec {
        a {
            display: block;
        }
    }
    .upload-sec {
        position: relative;
        padding-bottom: 1rem;
        input[type="file"] {
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
    .describe {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 0.6rem;
        color: red;
        line-height: 5rem;
    }
}