$photo_width: 40%;
.product-add-page {
    .basic {
        display: flex;
        .photo {
            width: $photo_width;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            .image {
                width: 50%;
                img {
                    width: 100%;
                }
            }
        }
        .info {
            width: 100% - $photo_width;
            .field {
                input {
                    width: 20rem!important;
                }
            }
        }
    }
    .field {
        padding: 1rem 0;
    }
    .detail {
        .form {
            width: 50%;
            margin: 0 auto;
            input {
                width: 20rem!important;
            }
        }
    }
}