@import '../../../../public/style/common.scss';
.header-user {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 2rem;
    .info {
        height: 100%;
        display: flex;
        align-items: center;
        margin-right: 2rem;
        .avatar {
            height: $header_height / 1.5;
            width: $header_height / 1.5;
            margin-right: 1rem;
            border-radius: 50%;
            border: 1px solid #eee;
            overflow: hidden;
        }
    }
}