.book-index {
	width: 50%;
    text-align: center;
	margin: 0 auto;
    div {
        display: inline-block;
        padding: 5rem 2rem;
        a {
            display: block;
            border: 1px solid #eee;
            margin: 0 auto;
            height: 8rem;
            width: 8rem;
            position: relative;
            .icon {
                display: block;
                width: 100%;
                font-size: 2rem;
                line-height: 3;
            }
            span {
                display: block;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                line-height: 3rem;
            }
        }
    }
}
