.role-edit {
    .header {
        .field {
            margin-bottom: 0;
            margin-right: 3rem;
        }
        .description {
            input {
                width: 20rem;
            }
        }
    }
}