.book-upload-preview {
    .product {
        padding-bottom: 3rem;
        padding-top: 1rem;
        h5 {
            text-align: center;
        }
    }
    .data {
        width: 100%;
        overflow-x: auto!important;
        th,
        td {
            text-align: center!important;
        }
    }
    .btn-group {
        text-align: center;
    }
}