.upload-select {
    .select {
    	padding-top: 1rem;
        overflow: hidden;
        width: 49rem;
        margin: 0 auto;
        text-align: center;
        .category-list {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .product-type {
                width: 20%;
            }
        }
    }
    .btn-group {
    	padding-top: 1rem;
        text-align: center;
        button {
            margin-right: 0;
        }
    }
}
