.upload-select {
    .select {
    	padding-top: 1rem;
        overflow: hidden;
        width: 49rem;
        margin: 0 auto;
        text-align: center;
    }
    .btn-group {
    	padding-top: 1rem;
        text-align: center;
        button {
            margin-right: 0;
        }
    }
}
