.book-select-confirm-page {
    table {
        th.product {
            text-align: left!important;
            padding-left: 5rem;
        }
        td {
            &.product {
                line-height: 6rem;
                height: 6rem;
                text-align: left!important;
                img {
                    vertical-align: middle;
                    display: inline-block;
                    height: 4.5rem;
                }
                .name {
                    display: inline-block;
                    padding-left: 2rem;
                }
            }
            &.num {
                a {
                    display: inline-block;
                    background: #eee;
                    border: 1px solid #ccc;
                    color: #555;
                    padding: 0 0.2rem;
                    margin-right: 0;
                }
                span {
                    display: inline-block;
                    min-width: 2rem;
                    padding: 0 0.5rem;
                    text-align: center!important;
                }
            }
        }
    }
}