.book-select-select-page {
    .list-header {
        overflow: hidden;
        .select-product-type {
            float: left;
        }
        .confirm {
            float: right;
        }
    }
}