.search-component {
    .search-bar {
        width: 20rem; // 400px
        margin: 0 auto;
        // background: #d3e3fa;
        height: 2.8rem;
        border: 1px solid #dee9fd;
        border-radius: 0.2rem;
        box-shadow: 0 0.3rem 1rem 0.1rem #ccd7ed;
        padding: 0.3rem 1rem;
        position: relative;
        & > div,
        & > span {
            display: inline-block;
        }
        .search-input {
            position: absolute;
            height: auto;
            border: none;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 0 7rem 0 1rem;
            font-size: 0.7rem;
            color: #a3aed9;
            &:focus {
                box-shadow: none;
            }
        }
        .search-condition {
            width: 20%;
            position: absolute;
            right: 2.5rem;
            border: none;
            height: 2rem;
            .ant-select-selection--single {
                border: none;
                border-right: 1px solid #4154bf;
                border-radius: 0.2rem 0 0 0.2rem;
                height: 100%;            
                background: #4268e0;
                color: white;
                .ant-select-selection-selected-value {
                    line-height: 2rem;
                    text-align: center;
                    font-size: 0.6rem;
                    &:focus {
                        background: #4f63d9;
                    }
                }
            }
        }
        .search-btn {
            height: 2rem;
            width:2rem;
            font-size: 0.6rem;
            font-weight: bold;
            border: none;
            background: #4268e0;
            color: white;
            position: absolute;
            right: 0.5rem;
            border-radius: 0 0.2rem 0.2rem 0;
        }
    }
}
